[Unit]
Description=Shadowsocks-libev Default Server Service
Documentation=man:shadowsocks-libev(8)
After=network-online.target

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
DynamicUser=true
EnvironmentFile=/etc/default/shadowsocks-libev
LimitNOFILE=32768
WorkingDirectory=/root/.shadowsocks
ExecStart=/usr/bin/ss-manager -c $CONFFILE -u -a root --manager-address $MANAGER_ADDRESS $DAEMON_ARGS

[Install]
WantedBy=multi-user.target